<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if comment.user == current_user %>
        You said:
        <span class="right-align btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %></li>
            <li><%= link_to 'Delete', [comment.article, comment], method: :delete %></li>
        </ul>
        </span>
      <% else %>
        <%= comment.user.email %> said:
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <% if defined? @editing_comment and @editing_comment == comment %>
      <%= form_for :comment, url: article_comment_path(@article, comment), method: :patch do |f| %>
        <div class="form-group">
          <%= f.text_area :body, class: 'form-control' %>
        </div>

        <%= f.submit 'Save', class: 'btn btn-default btn-primary' %>
      <% end %>
    <% else %>
      <%= simple_format comment.body %>
    <% end %>
  </div>
</div>
