<ul class="nav nav-pills nav-justified">
  <li class="<%= (@order == 'recent') ? 'active' : '' %>">
    <%= link_to 'Recent', select_articles_path(@filter, 'recent') %>
  </li>
  <li class="<%= (@order == 'popular') ? 'active' : '' %>">
    <%= link_to 'Popular', select_articles_path(@filter, 'popular') %>
  </li>
</ul>

<br>

<%= render @articles %>
