<div class="article">
  <div class="article-title">
    <%= @article.title %>
    <% if @article.user == current_user %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit', edit_article_path(@article) %></li>
          <li><%= link_to 'Delete', article_path(@article), method: :delete %></li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="article-author">
    <%= @article.user.email %>
  </div>

  <hr>

  <div class="article-text">
    <%= simple_format @article.text %>
  </div>

  <div class="btn-group">
    <a class="btn btn-default <%= (@article.upvote_users.include? current_user) ? 'btn-primary' : '' %>"
       href="<%= upvote_article_path(@article) %>">
      <span class="glyphicon glyphicon-thumbs-up"><%= @article.upvotes.length %></span>
    </a>
    <a class="btn btn-default <%= (@article.downvote_users.include? current_user) ? 'btn-primary' : '' %>"
       href="<%= downvote_article_path(@article) %>">
      <span class="glyphicon glyphicon-thumbs-down"><%= @article.downvotes.length %></span>
    </a>
  </div>

  <hr>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <% if current_user %>
      <%= render 'comments/form' %>
  <% else %>
      <%= link_to 'Sign in', new_user_session_path %> to comment.
  <% end %>
</div>
