<div class="article">
  <div class="article-title">
    <%= @article.title %>
    <% if @article.user == current_user %>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %>
        <%= link_to 'Delete', article_path(@article), class: 'btn btn-default', method: :delete %>
      </div>
    <% end %>
  </div>

  <div class="article-author">
    <%= @article.user.email %>
  </div>

  <hr>

  <div class="article-text">
    <%= @article.text %>
  </div>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <% if current_user %>
      <%= render 'comments/form' %>
  <% else %>
      <%= link_to 'Sign in', new_user_session_path %> to comment.
  <% end %>
</div>
